body {
    background: rgba(128, 128, 128, 0.54);
}

.photo-container{
    background: #ddd;
    box-shadow: 0 0 30px black;
    padding: 15px 15px 30px 15px;
}
.photo-container:after, .simple:before { display: none; }
