{% extends "::blogart.html.twig" %}

{% block title %}

QCM - {{ parent() }}
{% endblock %}

{% block body %}

        {% include "FXLMagicBundle:Component:breadcrumb.html.twig" with {
            breadcrumb:[{
            name     : "Laboratoire",
            routeName : "fxl_laboratory_index"
            },
            {
            name     : "Qcm",
            routeName : "fxl_qcm_index"
            }]
        } %}
      <div class="row-fluid">
        <div class="span3 left-col">
            {% include "FXLMagicBundle:Component:sidebar.html.twig" with {
                title: "Les derniers résultats",
                items: reviews,
                options: ['qcmReduce','slugReduce' ,'emend' ]
                }
            %}

        </div><!--/span-->

        <div class="span9 blogart-paper" style="box-shadow: 1px 1px 12px #555;">

             {% include "FXLMagicBundle:Component:hero.html.twig" with {
                name      : qcm.name,
                updatedAt : qcm.updatedAt,
                path      : qcm.path,
                url       : path("fxl_qcm_review_prepare", {"slug":qcm.slug }),
                content   : qcm.description,
                user      : qcm.user,
                tags      : [{
                    name: qcm.countQuestions ~ " questions"
                }],
                labelLink : qcm.name
            } only %}

            <div class="list-project">

                {% include 'FXLMagicBundle:Component:list.html.twig' with {
                    'pager'       : pager,
                    'pagerLink'   : pagerLink,
                    'contentAttr' : 'name',
                    'routeName'   : 'fxl_qcm_review_prepare'

                } only %}

            </div>

        </div><!--/span-->
      </div><!--/row-->

{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}


{% block js_ready %}
    {{ parent() }}

{% endblock %}
