{% extends "::base.html.twig" %}

{% block body %}

    <div class="container-fluid">
      <div class="row-fluid">

         <span class="span9">

            <ul class="thumbnails">
              <li class="span4">
                <div class="thumbnail">
                  <img src="http://placehold.it/300x200" alt="">
                  <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p>
                  </div>
                </div>
              </li>

              <li class="span4">
                <div class="thumbnail">
                  <img src="http://placehold.it/300x200" alt="">
                  <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p>
                  </div>
                </div>
              </li>

            </ul>
          </span>

      </div><!--/row-->

      <br />

      {% include 'FXLMusicBundle:Component:footer.html.twig' %}

    </div><!--/.fluid-container-->

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}


{% block js_ready %}
{% endblock %}
