{% extends 'FXLResumeBundle::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/fxlresume/css/resume1.css') }}">
{% endblock %}

{% block body %}
    <div class="col-md-1" role="main"></div>
    <div class="section col-md-9" id="top">
        <h1 class="heading-1 heading-separator">
            David Marchesson<br> <span id="containerTitleSchuffle">CV - Webdesign &amp; Développement Web</span>
        </h1>

        <div id="coordonnees">
            <address class="vcard">
                <span class="fn">David Marchesson</span>
    <span class="adr">
      <span class="street-address">2 cours du Médoc</span>
      <span class="postal-code">33300</span> <span class="locality">Bordeaux</span>
    </span>
                <span><em>Email</em> : http://www.marchesson.com/#contact</span>
                <span><em>Web</em> : <a class="url" href="http://www.marchesson.com">www.marchesson.com</a></span>
                <span><em>Réseaux sociaux</em> : <a href="http://www.facebook.com/profile.php?id=704183074" class="url"
                                                    rel="me">Facebook</a>, <a
                            href="http://www.linkedin.com/in/marchesson" class="url" rel="me">LinkedIn</a></span>
                <span class="tel"><em class="type">Téléphone</em> : <span class="value">+33 9 51 31 19 19</span></span>
            </address>
        </div>

        <div class="container bottom-separator text">
            <div class="left break col-7">
                <h3 class="heading-3 heading-small-separator">Compétences Techniques</h3>


                <ul class="listeCV">
                    <li><strong>Langages et frameworks de développement Web</strong> : PHP5 (Sympfony), Javascript
                        (jQuery), Objective C, XHTML 1.1, HTML5 et CSS3
                    </li>
                    <li><strong>Logiciels et frameworks de développement</strong> : iOS SDKs, <abbr
                                title="Photoshop CS6, Dreamweaver CS6">Suite Adobe CS6</abbr>, Notepad++, Git, la
                        plupart des <abbr title="Photoshop, Notepad++, Illustrator">applications graphiques</abbr></li>
                    <li><strong>Autres compétences</strong> : Campagne d'emailing (newsletter), SEO, accessibilité, base
                        de données (MySQL, SQLite, phpMyAdmin) et maintenance de serveur (Apache2 http web server), etc.
                    </li>
                </ul>

                <p style="text-align:right; margin-right:5px; padding-top:0;" class="noprint"><img
                            src="http://www.marchesson.com/img/plus.gif" width="8" height="8"
                            style="vertical-align: middle;" alt="Developpeur Bordeaux web"> <a href="#skillsStars"
                                                                                               data-pp="pptxt">Liste
                        détaillée</a></p>


            </div>
            <div class="right break col-5">
                <h3 class="heading-3 heading-small-separator">Mes atouts</h3>


                <ul class="listeCV">
                    <li>Expérience de 17 ans dans les TIC</li>
                    <li>Curiosité d’esprit et perfectionnisme</li>
                    <li>Capacité d’adaptation, d’innovation</li>
                </ul>

                <h3 class="heading-3 heading-small-separator noprint">CV à télécharger</h3>

                <p class="noprint hidemobile"><img src="http://www.marchesson.com/img/enclosure.gif" width="15"
                                                   height="15" style="vertical-align: middle;"
                                                   alt="Download David Marchesson's CV PDF"><a
                            href="http://www.marchesson.com/cv/CV_DavidMarchesson.pdf"
                            title="CV David Marchesson PDF, CV developpeur PHP PDF, CV developpeur Web PDF">télécharger
                        ce CV au format PDF</a> ou <a href="http://www.marchesson.com/cv/CV_DavidMarchesson.rtf"
                                                      title="CV David Marchesson RTF, CV developpeur PHP RTF, CV developpeur Web RTF">RTF</a>
                </p>


            </div>

            <div class="clear"></div>

            <div class="cvtext">

                <h2 class="heading-2 heading-big-separator marginb20">Expérience professionnelle</h2>


                <h4><span class="date">09/2007 - Aujourd'hui</span><span class="poste">Webdesigner &amp; Développeur Web Freelance  <em>(Bordeaux,
                            Paris)</em></span></h4>

                <p><strong>Webdesigner</strong> et <strong>Développeur Web</strong> pour plusieurs sociétés. J'exécute
                    en moyenne 3/4 missions chaque mois. Vous pouvez voir les <a
                            href="http://www.marchesson.com/#realisations">dernières réalisations</a> sur la page
                    d'accueil, je suis également en charge du référencement de chacun de ces dossiers. Pour des raisons
                    de confidentialité, je peux vous fournir <a href="http://www.marchesson.com/#contact">d'autres
                        références sur demande</a>.</p>
                <h4><span class="date">04/2007 - 07/2007</span><span class="poste">Agence Internet <a
                                href="http://www.systonic.fr/" rel="nofollow">Systonic</a> <em>(Bordeaux)</em></span>
                </h4>

                <p>Responsable du <strong>développement</strong> de plusieurs plusieurs projets internet.</p>
                <ul class="listeEmploi">
                    <li>Gestion de projets d’envergure (vin, restauration, hôtellerie)</li>
                    <li>Programmation ASP, .Net, PHP, AJAX</li>
                    <li>Mise en place d'une politique d’accessibilité sur plusieurs sites</li>
                </ul>
                <h4><span class="date">06/2005 - 03/2007</span><span class="poste">Société de négoce en vin <a
                                href="http://www.millesima.com/" rel="nofollow">Millésima</a> <em>(Bordeaux)</em></span>
                </h4>

                <p><strong>Responsable eCommerce</strong> pour développer de l’activité internet de la société.</p>
                <ul class="listeEmploi">
                    <li>Pilotage de l’ensemble des développements techniques Internet</li>
                    <li>Gestion du site Internet et campagnes d’emailings</li>
                    <li>Encadrement des prestataires externes (epub, référencement, partenariats)</li>
                    <li>Réalisations de sites Internet satellites (<a href="http://www.chateaupeyrabon.com/"
                                                                      rel="nofollow">Peyrabon.com</a>, <a
                                href="http://www.millesima-usa.com/" rel="nofollow">Millesima.us</a>)
                    </li>
                </ul>
                <h4><span class="date">08/2004 - 12/2004</span><span class="poste">Société d'import/export <a
                                href="http://www.tbc-world.com/" rel="nofollow">TBC-World</a> <em>(Montreal/Quebec)</em></span>
                </h4>

                <p>En charge du <strong>développement</strong> et de la <strong>réalisation</strong> du site e-business
                    (b2b) en ASP/ASP.Net.</p>
                <ul class="listeEmploi">
                    <li>Responsable de la documentation, du design du site et travail collaboratif pour le développement
                        du site
                    </li>
                    <li>Optimisattion des pages pour une meilleure indexation des moteurs de recherche (SEO, eTraffic)
                    </li>
                    <li>Force de proposition pour déployer la stratégie Internet</li>
                </ul>
                <h4><span class="date">01/2004 - 07/2004</span><span class="poste">Travail en Freelance</span></h4>

                <p><strong>Webdesigner</strong> et <strong>Développeur Web</strong> pour plusieurs sociétés.</p>
                <ul class="listeEmploi">
                    <li>Création de sites et d’applications Flash</li>
                    <li>Création de chartes graphiques et d’applications spécifiques pour des sociétés</li>
                    <li>Mise à jour de sites aux normes XHTML 1.0 et CSS 2</li>
                </ul>
                <h4><span class="date">08/2002 - 12/2003</span><span class="poste">Editeurs de logciels <a
                                href="http://itemys.net/" rel="nofollow">Itemys</a> <em>(Bordeaux)</em></span></h4>

                <p><strong>Réalisation de site de e-formation</strong> complet avec la technologie J2EE.</p>
                <ul class="listeEmploi">
                    <li>Prise en charge de l'étude technique du modèle objet client</li>
                    <li>Développement d'outils de cartographie de modèle objet</li>
                </ul>
                <h4><span class="date">08/2000 - 07/2002</span><span class="poste">Editeurs de solutions web NEO interactive <em>(Bordeaux)</em></span>
                </h4>

                <p><strong>Développeur web</strong> pour la réalisation de plusieurs projets internet.</p>
                <ul class="listeEmploi">
                    <li>Mise en ligne d'applications Intranet et configuration de serveur</li>
                    <li>Réalisation de contenus complexes à l'aide de la technologie Flash</li>
                    <li>Programmation JS, Flash, PHP et ASP</li>
                </ul>
                <h4><span class="date">04/1999 - 09/2000</span><span class="poste"><a
                                href="http://www.banquepopulaire.fr/" rel="nofollow">Banque
                            Populaire</a> <em>(Bordeaux)</em></span></h4>

                <p>Prise en charge de l'étude technique et du <strong>développement d'applications</strong> de bases de
                    données sous VB/Access.</p>
                <ul class="listeEmploi">
                    <li>Contact technique auprès des clients et des utilisateurs</li>
                    <li>Etude fonctionnelle contact auprès des clients/utilisateurs</li>
                </ul>
                <h2 class="heading-2 heading-big-separator marginb20">Cursus scolaire</h2>


                <h4><span class="date">04/2004 - 07/2004</span><span class="school">Centre de Formation de la <abbr
                                title="Chambre de Commerce et de l'Industrie">CCI</abbr> de Bordeaux</span></h4>

                <p>Formation pour Jeune Créateur d'Entreprise</p>
                <h4><span class="date">2000/2002</span><span class="school">ESI, Ecole Supérieure d'Informatique de Mérignac</span>
                </h4>

                <p>Master Ingénierie Informatique obtenu en Juin 2002</p>
                <h4><span class="date">1997/1999</span><span class="school"><abbr
                                title="Institut Universitaire de Technologie">IUT</abbr> de Talence Bordeaux I</span>
                </h4>

                <p>DUT Informatique de Gestion</p>
                <h4><span class="date">1995/1996</span><span class="school">Lycée François Mauriac de Bordeaux</span>
                </h4>

                <p>Obtention du Baccalauréat série S</p>

                <h2 class="heading-2 heading-big-separator marginb20">Langues parlées</h2>

                <p>Français, Anglais &amp; Espagnol</p>

                <h2 class="heading-2 heading-big-separator marginb20">Centres d'interêts</h2>


                <ul class="listeEmploi">
                    <li>Internet et le développement web en général</li>
                    <li> Musique : guitare et percussions</li>
                    <li> Photographie : passion pour la photo numérique</li>
                    <li> Sport : Ju-Jitsu, rollers, basket, randonnées</li>
                </ul>

                <p style="text-align:right; margin-top:10px;" class="noprint hidemobile"><img
                            src="http://www.marchesson.com/img/enclosure.gif" width="15" height="15"
                            style="vertical-align: middle;" alt="Download David Marchesson's CV"> <a
                            href="http://www.marchesson.com/cv/CV_DavidMarchesson.pdf"
                            title="CV David Marchesson PDF, CV developpeur PHP PDF, CV developpeur Web PDF">télécharger
                        ce CV au format PDF</a> ou <a href="http://www.marchesson.com/cv/CV_DavidMarchesson.rtf"
                                                      title="CV David Marchesson RTF, CV developpeur PHP RTF, CV developpeur Web RTF">RTF</a>
                </p>


            </div>
            <!--/ .cvtext -->

        </div>
        <!--/ .container -->


        <div class="clear bottom-margin"></div>

        <h4 class="heading-4 heading-small-separator">Pour plus d'informations veuillez me contacter :</h4>

        <p>E-mail : <a href="mailto:contact(a)marchesson.com">contact(a)marchesson.com</a> | Skype : <a
                    href="skype:flashxman?call">flashxman
                <!-- <img src="http://mystatus.skype.com/smallicon/flashxman" alt="telephone contact" width="16" height="16" class="noprint" />--></a>
        </p>

        <div class="clear bottom-margin"></div>

        <h4 class="heading-4 heading-big-separator">Derniers tweets <a
                    href="http://twitter.com/flashxman">@flashxman</a></h4>

        <div id="twitter-feed"></div>

        <div class="clear bottom-small-separator"></div>

        <div id="footer">
            <a href="#mentions" data-pp="pptxt" class="blacklink">©</a> 1999 - 2015 <a href="http://www.marchesson.com"
                                                                                       title="Webdesign, developpeur web, developpeur freelance">David
                Marchesson</a> <a href="http://www.eclaireur.net" title="Blog eclaireur Webdesign, developpement web"
                                  class="blacklink">Blog eclaireur</a> | <a href="#credits" data-pp="pptxt"
                                                                            class="blacklink">Crédits</a> | Page valide
            : <a href="http://validator.w3.org/check?uri=referer" class="validhtmlcss"
                 title="Vérifier la conformité de cette page aux normes W3C">HTML5</a> <a
                    href="http://jigsaw.w3.org/css-validator/validator?uri=www.marchesson.com&amp;usermedium=all"
                    class="validhtmlcss" title="Vérifier la validité de la feuille de styles">CSS</a> <a
                    href="http://www.w3.org/WAI/WCAG1AA-Conformance" class="validhtmlcss"
                    title="W3C Web Accessibility Initiative">Accessible AA</a>
        </div>

    </div>
{% endblock %}